ion-label{
    font-weight: bold;
}

ion-button{
    --background: #FF00FF;
}

ion-input.ng-invalid.ng-dirty{
    border: solid 2px red;
}

ion-input.ng-valid{
    border: solid 2px green;
}

.noSubmit{
    pointer-events: none;
    --background: gray;
    color:white;
}